:host {
  display: block;
  padding-top: 2rem;
}

.thing {
  display: inline-block;
  background-color: #ea4c89;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  color: white;
  font-size: 1rem;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 1rem;
  width: 200px;
  text-align: center;
}

.row {
  margin: 1rem;
}
